.margins {
  margin-left: 120px;
  margin-right: 120px;
}

.companyBg {
  background-color: gray;
  color: whitesmoke;
}

.coolNumber {
  font-size: xx-large;
  background-color: lightgray;
  color: dodgerblue;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bolder;
}
